/* Основные стили */
body {
    margin: 0;
    font-family: 'Comfortaa', Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Боковая панель */
.sidebar {
    width: 200px;
    background-color: #0984e3;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
    position: fixed;
    height: 100%;
    z-index: 1000;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar img {
    width: 80px; /* Размер логотипа */
    margin-bottom: 10px;
}

/* Кнопка-гамбургер */
.hamburger {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 10px 0;
    border-radius: 25px; /* Заокругленные углы */
    border: 2px solid white; /* Белая обводка */
    text-align: center;
}

.hamburger:hover {
    background-color: #74b9ff;
}

/* Кнопки меню */
.sidebar a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    padding: 8px 15px;
    border-radius: 25px; /* Заокругленные углы */
    text-align: center;
    width: 90%;
    border: 2px solid white; /* Белая обводка */
}

.sidebar a:hover {
    background-color: #74b9ff;
}

/* Контент */
.content {
    flex-grow: 1;
    margin-left: 200px;
    padding: 20px;
    background-color: #74b9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin-left 0.3s ease-in-out;
}

.content.shifted {
    margin-left: 0;
}

/* Контейнер */
.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    text-align: center;
}

.container h1 {
    font-size: 24px;
    color: #2d3436;
}
