/* Общие стили для сайта */
body {
    margin: 0;
    font-family: 'Comfortaa', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #74b9ff; /* Фон сайта всегда синий */
}

/* Хедер */
.header {
    background-color: #c8e5fc; /* Цвет фона хедера */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Слой ниже сайдбара */
    padding-left: -1540px; /* Отступ влево */
}

/* Новая кнопка поиска */
#search-btn {
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Легкая тень */
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-image: linear-gradient(to right, #0984e3 0%, #74b9ff 51%, #0984e3 100%);
}

#search-btn:hover {
    background-position: right center; /* Анимация при наведении */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Усиление тени при наведении */
    transform: scale(1.05); /* Легкое увеличение */
}

/* Поле ввода текста для поиска */
#search-input {
    width: 300px; /* Ширина поля */
    padding: 10px; /* Внутренний отступ */
    margin-right: 10px; /* Отступ справа от кнопки */
    border: 1px solid #ccc; /* Серая рамка */
    border-radius: 8px; /* Закругленные углы */
    font-size: 16px; /* Размер текста */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Эффект при фокусе на поле ввода */
#search-input:focus {
    border-color: #0984e3; /* Цвет рамки при фокусе (цвет сайдбара) */
    box-shadow: 0 0 5px rgba(9, 132, 227, 0.5); /* Легкое свечение */
    outline: none; /* Убираем стандартное выделение */
}

.hamburger {
    position: fixed;
    top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
    z-index: 10;
    cursor: pointer;
    transition: transform 0.25s ease, left 0.25s ease, top 0.25s ease;
}

.hamburger:hover {
    transform: scale(1.2); /* Увеличиваем размер при наведении */
}

/* Сайдбар, скрыт по умолчанию */
.sidebar {
    position: fixed;
    top: 0;
    left: -200px; /* Скрыт за пределами экрана */
    width: 200px;
    height: 100%;
    background-color: #0984e3; /* Цвет сайдбара */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 0.35s ease; /* Плавное открытие */
    z-index: 2; /* Слой выше хедера */
}

/* Когда сайдбар открыт */
.sidebar.open {
    left: 0; /* Сдвигаем сайдбар в видимую область */
}

/* Стили для ссылок в сайдбаре */
.sidebar a {
    color: white;
    text-decoration: none;
    margin:
        10px 0;
    padding: 10px 15px;
    border-radius: 25px;
    text-align: center;
    width: 90%;
    transition: background-color 0.3s ease, filter 0.3s ease;
}

/* Эффект наведения на ссылки */
.sidebar a:hover {
    background-color: #74b9ff;
    filter: brightness(1.2);
}

/* Основной контент */
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #74b9ff; /* Фон сайта всегда синий */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Результаты поиска */
#search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    width: 90%;
    padding-top: 70px; /* Чтобы результаты не перекрывали меню поиска */
    background-color: #74b9ff; /* Устанавливаем фон сайта для результатов */
}

/* Карточки автомобилей */
.car-item {
    background-color: #eaeaea;
    border: 2px solid white;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.car-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Футер */
.footer {
    background-color: #c8e5fc;
    color: black;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 15; 
}

/* Дизайн для калькулятора депозиту */
.deposit-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #74b9ff;
}

.deposit-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    text-align: center;
}

.deposit-container h1 {
    font-size: 24px;
    color: #2d3436;
}

.deposit-container input,
.deposit-container select,
.deposit-container button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.deposit-container button {
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Легкая тень */
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-image: linear-gradient(to right, #0984e3 0%, #74b9ff 51%, #0984e3 100%);
}

.deposit-container button:hover {
    background-position: right center; /* Анимация при наведении */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Усиление тени при наведении */
    transform: scale(1.05); /* Легкое увеличение */
}

#result {
    margin-top: 10px;
    font-size: 16px;
    color: #000000;
    text-align: center;
}

.footer p {
    margin: 0;
}

/* Стили для калькулятора крафта */
.craft-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding-top: 10px;
    background-color: #74b9ff;
}

.craft-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    margin: auto;
}

.craft-container h1 {
    font-size: 24px;
    color: #2d3436;
    padding-top: 15px;
}

.craft-container input,
.craft-container select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.craft-container button {
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 90%;
    margin: 15px 0;
    background-image: linear-gradient(to right, #0984e3 0%, #74b9ff 51%, #0984e3 100%);
}

.craft-container button:hover {
    background-position: right center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.craft-container #craft-result {
    margin: 15px 0;
    color: #2d3436;
    white-space: pre-line;
}


.hero-section {
    background-image: url('../images/indexphotos/0.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: white;
    font: 400 24px 'Comfortaa', sans-serif;
    text-align: left;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding-right: 50px;
    padding-left: 20px;
    max-width: 600px;
}
